/*// Extra small screen / phone*/
/*// Small screen / tablet*/
/*// Medium screen / desktop*/
/*// Large screen / wide desktop*/
/*// So media queries don't overlap when required, provide a maximum*/
/*Colors*/
/* ------ START Common CSS to all blocks ------ */
/*Main container of all blocks*/
.content {
  padding-left: 10px;
  padding-right: 10px; }

/*Title of the block*/
.section-title {
  font-weight: bolder;
  font-size: 2.5em;
  padding-top: 20px;
  padding-bottom: 20px; }

.section-subtitle {
  font-size: 1.5em; }

/*Call to action inside block*/
.call-to-action {
  padding-top: 20px;
  padding-bottom: 20px; }
  .call-to-action a {
    font-weight: bold;
    color: #00b5d5;
    cursor: pointer;
    text-decoration: underline; }

/*Circular fixed call to action*/
.div-call-to-action {
  margin-bottom: 15px; }
  .div-call-to-action .btn-call-to-action {
    background-color: #8d00ef;
    color: #fff;
    border-radius: 75px;
    width: 150px;
    height: 150px;
    bottom: -12px;
    position: absolute;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    padding-top: 55px;
    font-weight: bold; }
  .div-call-to-action .btn-call-to-action:hover {
    color: lightgrey; }

/*Common icon style*/
.icon {
  width: 80px !important;
  height: 80px !important;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-repeat: no-repeat; }

/*Container of a block*/
.custom-container {
  background-color: #ececec; }
  @media (min-width: 992px) {
    .custom-container .right-block {
      margin-left: -15px; }
    .custom-container .left-block {
      margin-right: -15px; }
    .custom-container .central-block {
      margin-right: -15px;
      margin-left: -15px; } }

.three-blocks-container-image {
  padding-top: 20px;
  padding-bottom: 20px; }
  .three-blocks-container-image .inner-box {
    background-color: #fff; }
    .three-blocks-container-image .inner-box img {
      width: 100%; }
    .three-blocks-container-image .inner-box .title {
      margin-top: 50px;
      margin-bottom: 50px;
      font-size: 2em;
      padding-left: 10px;
      padding-right: 10px; }
      @media (max-width: 992px) {
        .three-blocks-container-image .inner-box .title {
          margin-top: 10px;
          margin-bottom: 10px; } }
    .three-blocks-container-image .inner-box a {
      text-decoration: underline;
      color: #00b5d5;
      float: left;
      cursor: pointer; }
    .three-blocks-container-image .inner-box .call-to-action {
      font-weight: bold;
      padding-left: 10px;
      padding-right: 10px; }
      @media (max-width: 992px) {
        .three-blocks-container-image .inner-box .call-to-action {
          padding-top: 0px; } }

.text-image-container img {
  width: 100%;
  height: 100%; }

@media (max-width: 992px) {
  .text-image-container .btn-call-to-action {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-top: 35px;
    bottom: -10px; } }

.text-image-container .text-block {
  background-color: #000;
  color: #fff; }
  .text-image-container .text-block .inner-box {
    padding: 10px;
    padding-bottom: 80px; }
  .text-image-container .text-block .title {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2.5em; }

.two-blocks-container {
  padding-bottom: 20px;
  padding-top: 20px; }
  .two-blocks-container .title {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2.5em; }
  .two-blocks-container .inner-box {
    padding-left: 30px;
    padding-right: 30px;
    height: 100%; }
  .two-blocks-container a {
    text-decoration: underline;
    float: left;
    cursor: pointer;
    font-size: 1.5em; }
  .two-blocks-container .call-to-action {
    font-weight: bold; }
  .two-blocks-container .div-call-to-action {
    padding-bottom: 20px;
    padding-top: 20px; }
    .two-blocks-container .div-call-to-action i {
      opacity: 0.5; }
  .two-blocks-container .left-block {
    background-color: #fff;
    color: #333; }
    .two-blocks-container .left-block a {
      color: #00b5d5; }
    .two-blocks-container .left-block .div-call-to-action i {
      color: lightgrey; }
  .two-blocks-container .right-block {
    background-color: #333;
    color: #fff; }
    .two-blocks-container .right-block a {
      color: #fff; }

.three-blocks-container .inner-box {
  background-color: #fff;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px; }

@media (min-width: 992px) {
  .three-blocks-container .left-block {
    border-right-style: dotted;
    border-right-width: 3px;
    border-right-color: lightgray; } }

@media (max-width: 992px) {
  .three-blocks-container .left-block {
    border-bottom-style: dotted;
    border-bottom-width: 3px;
    border-bottom-color: lightgray; } }

.three-blocks-container .special-block {
  background-color: #00b5d5;
  color: #fff; }
  .three-blocks-container .special-block .title {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 3em; }
  .three-blocks-container .special-block a {
    text-decoration: underline;
    color: #fff;
    float: left;
    cursor: pointer; }
  .three-blocks-container .special-block .call-to-action {
    font-weight: bold; }

.three-blocks-container .title {
  display: inline-block;
  cursor: pointer;
  font-size: 1.5em;
  margin-bottom: 50px; }

.three-blocks-container .icon-router {
  margin-top: 50px;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22_x31_28px_copy_3%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20%20y%3D%220px%22%20viewBox%3D%220%200%20112%2072%22%20style%3D%22enable-background%3Anew%200%200%20112%2072%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%2354585A%3B%7D%3C%2Fstyle%3E%3Cg%3E%20%3Ccircle%20class%3D%22st0%22%20cx%3D%2290%22%20cy%3D%2250%22%20r%3D%226%22%2F%3E%20%3Ccircle%20class%3D%22st0%22%20cx%3D%2266%22%20cy%3D%2250%22%20r%3D%226%22%2F%3E%20%3Ccircle%20class%3D%22st0%22%20cx%3D%2242%22%20cy%3D%2250%22%20r%3D%226%22%2F%3E%20%3Cpath%20class%3D%22st0%22%20d%3D%22M96%2C28H82c0%2C0-2%2C1-2%2C4s2%2C4%2C2%2C4h14c4.4%2C0%2C8%2C3.6%2C8%2C8v12c0%2C4.4-3.6%2C8-8%2C8H16c-4.4%2C0-8-3.6-8-8V44c0-4.4%2C3.6-8%2C8-8%20%20h40c8.8%2C0%2C16-7.2%2C16-16V2c0%2C0-1-2-4-2s-4%2C2-4%2C2v18c0%2C4.4-3.6%2C8-8%2C8H16C7.2%2C28%2C0%2C35.2%2C0%2C44v12c0%2C8.8%2C7.2%2C16%2C16%2C16h80%20%20c8.8%2C0%2C16-7.2%2C16-16V44C112%2C35.2%2C104.8%2C28%2C96%2C28z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

.three-blocks-container .icon-phone {
  margin-top: 50px;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%20%20%3Cdefs%3E%20%20%20%20%3Cstyle%3E%20%20%20%20%20%20.cls-1%20%7B%20%20%20%20%20%20%20%20fill%3A%20%2354585a%3B%20%20%20%20%20%20%20%20fill-rule%3A%20evenodd%3B%20%20%20%20%20%20%7D%20%20%20%20%3C%2Fstyle%3E%20%20%3C%2Fdefs%3E%20%20%3Cpath%20id%3D%22PHONE%22%20class%3D%22cls-1%22%20d%3D%22M326.564%2C2722.98l-0.571.59c-3.426%2C3.51-2.284%2C9.36%2C2.284%2C14.05s10.279%2C5.85%2C13.706%2C2.34a0.917%2C0.917%2C0%2C0%2C0-.286-0.88%2C0.851%2C0.851%2C0%2C0%2C0-.856-0.29c-2.856%2C2.92-7.424%2C1.75-11.422-2.34s-5.139-8.78-2.284-11.71l0.286-.29c0.713-.73%2C1-0.73%2C1.713%2C0l1.142%2C1.17c0.714%2C0.73.714%2C1.02%2C0%2C1.75l-0.286.3a3.368%2C3.368%2C0%2C0%2C0%2C0%2C4.68l3.427%2C3.51a3.18%2C3.18%2C0%2C0%2C0%2C4.568%2C0l0.286-.29c0.713-.73%2C1-0.73%2C1.713%2C0l2.855%2C2.93a0.873%2C0.873%2C0%2C0%2C0%2C.857-0.3%2C0.915%2C0.915%2C0%2C0%2C0%2C.285-0.88l-3.14-3.21c-1.285-1.32-2.142-1.32-3.427%2C0l-0.571.58a1.581%2C1.581%2C0%2C0%2C1-2.284%2C0l-3.426-3.51a1.683%2C1.683%2C0%2C0%2C1%2C0-2.34l0.571-.59c1.284-1.31%2C1.284-2.19%2C0-3.51l-1.714-1.76C328.706%2C2721.67%2C327.849%2C2721.67%2C326.564%2C2722.98Z%22%20transform%3D%22translate%28-324%20-2722%29%22%2F%3E%3C%2Fsvg%3E"); }

.three-blocks-container .btn-call-to-action {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  padding-top: 35px;
  bottom: 0px;
  right: -40px; }

.three-blocks-thumbnail-container {
  padding-bottom: 20px; }
  .three-blocks-thumbnail-container .icon {
    background-image: url("/assets/images/turqblue.png");
    margin-top: 0px; }
  .three-blocks-thumbnail-container .icon-clock {
    /*background-image: url("data:image/svg+xml;charset=US-ASCII,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"52"%20height%3D"52"%20viewBox%3D"0%200%2052%2052">%20%20<defs>%20%20%20%20<style>%20%20%20%20%20%20.cls-1%20%7B%20%20%20%20%20%20%20%20fill%3A%20%23fff%3B%20%20%20%20%20%20%20%20fill-rule%3A%20evenodd%3B%20%20%20%20%20%20%7D%20%20%20%20<%2Fstyle>%20%20<%2Fdefs>%20%20<path%20id%3D"TIME"%20class%3D"cls-1"%20d%3D"M602.786%2C222.215A2.786%2C2.786%2C0%2C1%2C0%2C600%2C225%2C2.787%2C2.787%2C0%2C0%2C0%2C602.786%2C222.215Zm-11.143%2C4.643a2.786%2C2.786%2C0%2C1%2C0-2.786%2C2.785A2.787%2C2.787%2C0%2C0%2C0%2C591.643%2C226.858Zm-7.429%2C8.357A2.786%2C2.786%2C0%2C1%2C0%2C587%2C238%2C2.785%2C2.785%2C0%2C0%2C0%2C584.214%2C235.215Zm38.679-9.511a1.951%2C1.951%2C0%2C0%2C0-2.334-.123%2C2%2C2%2C0%2C0%2C0-.914%2C2A22.05%2C22.05%2C0%2C0%2C1%2C622.286%2C238h0A22.288%2C22.288%2C0%2C1%2C1%2C600%2C215.714a23.824%2C23.824%2C0%2C0%2C1%2C11.607%2C3.251%2C4.253%2C4.253%2C0%2C0%2C1%2C.929%2C6.5L600%2C238a2.134%2C2.134%2C0%2C0%2C0%2C2.786%2C2.786l12.536-12.536c2.9-2.9%2C3.017-8.641-1.11-12.214C614.17%2C216%2C609.478%2C212%2C600%2C212a26%2C26%2C0%2C1%2C0%2C26%2C26A24.609%2C24.609%2C0%2C0%2C0%2C622.893%2C225.7Z"%20transform%3D"translate%28-574%20-212%29"%2F><%2Fsvg>");*/ }

.faq-container .title {
  display: inline-block;
  color: #00b5d5;
  cursor: pointer; }

.faq-container .title-icon {
  cursor: pointer; }

.faq-container .border {
  border-top-style: dotted;
  border-top-width: 2px;
  border-top-color: lightgray;
  padding-bottom: 10px;
  padding-top: 10px; }

.help-container {
  background-color: #fff; }
  .help-container .help-box {
    background: #ececec;
    margin: 30px;
    text-align: center;
    flex: 1 0;
    height: auto;
    padding: 10px; }
    @media (max-width: 1199px) {
      .help-container .help-box {
        margin-left: 5px;
        margin-right: 5px; } }
    .help-container .help-box .title {
      font-weight: bolder;
      font-size: 1.5em; }
    @media (max-width: 768px) {
      .help-container .help-box .text {
        display: none; } }
    .help-container .help-box .icon-question {
      background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2280%22%20height%3D%2280%22%20viewBox%3D%220%200%2080%2080%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23307FE2%3B%7D%3C%2Fstyle%3E%3Cpath%20id%3D%22QUESTION%22%20class%3D%22st0%22%20d%3D%22M39.9%2C65.8c-2.8%2C0-5.1-2.3-5.1-5.1s2.3-5.1%2C5.1-5.1c2.8%2C0%2C5.1%2C2.3%2C5.1%2C5.1c0%2C0%2C0%2C0%2C0%2C0%20C45%2C63.6%2C42.8%2C65.8%2C39.9%2C65.8C40%2C65.8%2C39.9%2C65.8%2C39.9%2C65.8z%20M40.6%2C16.5c9%2C0%2C13.9%2C5.4%2C13.9%2C11.9c0%2C11-10.8%2C10.8-10.8%2C20.2V50h-7.1%20l0-1.2c0-12.1%2C11.2-13.2%2C11.2-20c0-3.6-3.1-6-7.2-6c-4.4%2C0-7.4%2C2.7-8.8%2C7.1c-2.4%2C0-4.9-1.1-5.9-2.9C27.8%2C20.4%2C33.4%2C16.5%2C40.6%2C16.5%20L40.6%2C16.5z%20M40%2C0C17.9%2C0%2C0%2C17.9%2C0%2C40c0%2C9%2C3%2C17.8%2C8.6%2C24.8c1.1%2C0.5%2C2.4%2C0.2%2C3.2-0.7c0.9-0.9%2C1.2-2.2%2C0.8-3.4%20c-11.4-15.1-8.5-36.6%2C6.6-48s36.6-8.5%2C48%2C6.6s8.5%2C36.6-6.6%2C48c-12.3%2C9.3-29.3%2C9.3-41.6-0.1c-1.2-0.3-2.5%2C0-3.3%2C1%20c-0.8%2C0.8-1.1%2C2.1-0.6%2C3.2c17.3%2C13.7%2C42.5%2C10.7%2C56.2-6.6c13.7-17.3%2C10.7-42.5-6.6-56.2C57.7%2C3%2C49%2C0%2C40%2C0z%22%2F%3E%3C%2Fsvg%3E"); }
    .help-container .help-box .icon-message {
      background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2280%22%20height%3D%2275%22%20viewBox%3D%220%200%2080%2075%22%3E%20%20%3Cdefs%3E%20%20%20%20%3Cstyle%3E%20%20%20%20%20%20.cls-1%20%7B%20%20%20%20%20%20%20%20fill%3A%20%23f217bb%3B%20%20%20%20%20%20%20%20fill-rule%3A%20evenodd%3B%20%20%20%20%20%20%7D%20%20%20%20%3C%2Fstyle%3E%20%20%3C%2Fdefs%3E%20%20%3Cpath%20id%3D%22MESSAGE%22%20class%3D%22cls-1%22%20d%3D%22M608.286%2C187.733A4.286%2C4.286%2C0%2C1%2C0%2C604%2C192.061%2C4.307%2C4.307%2C0%2C0%2C0%2C608.286%2C187.733Zm17.143%2C0a4.286%2C4.286%2C0%2C1%2C0-4.286%2C4.328A4.307%2C4.307%2C0%2C0%2C0%2C625.429%2C187.733Zm-38.572%2C4.328a4.328%2C4.328%2C0%2C1%2C0-4.285-4.328A4.307%2C4.307%2C0%2C0%2C0%2C586.857%2C192.061ZM632.571%2C156H575.429A11.483%2C11.483%2C0%2C0%2C0%2C564%2C167.54v27.405a3.55%2C3.55%2C0%2C0%2C0%2C5.714%2C0v-27.4a5.742%2C5.742%2C0%2C0%2C1%2C5.715-5.768h57.142a5.742%2C5.742%2C0%2C0%2C1%2C5.715%2C5.768v37.5a5.742%2C5.742%2C0%2C0%2C1-5.715%2C5.769H610.429v0.022a10.026%2C10.026%2C0%2C0%2C0-7.857%2C3.584l-8.929%2C8.921c-1.262%2C1.274-2.5%2C2.218-3.929%2C2.212A5.759%2C5.759%2C0%2C0%2C1%2C584%2C219.465V213.7a3.087%2C3.087%2C0%2C0%2C0-2.857-2.884h-5.714a5.742%2C5.742%2C0%2C0%2C1-5.715-5.769V203.6a3.551%2C3.551%2C0%2C0%2C0-5.714%2C0v1.443a11.484%2C11.484%2C0%2C0%2C0%2C11.429%2C11.539h1.428c1.429%2C0%2C1.429%2C0%2C1.429%2C1.441v1.443A11.483%2C11.483%2C0%2C0%2C0%2C589.714%2C231c2.858%2C0.064%2C4.893-1.086%2C7.143-3.6l9.286-9.317a6.713%2C6.713%2C0%2C0%2C1%2C4.286-1.5h22.142A11.484%2C11.484%2C0%2C0%2C0%2C644%2C205.042v-37.5A11.483%2C11.483%2C0%2C0%2C0%2C632.571%2C156Z%22%20transform%3D%22translate%28-564%20-156%29%22%2F%3E%3C%2Fsvg%3E"); }
    .help-container .help-box .icon-phone {
      background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2280%22%20height%3D%2277%22%20viewBox%3D%220%200%2080%2077%22%3E%20%20%3Cdefs%3E%20%20%20%20%3Cstyle%3E%20%20%20%20%20%20.cls-1%20%7B%20%20%20%20%20%20%20%20fill%3A%20%238c00ef%3B%20%20%20%20%20%20%20%20fill-rule%3A%20evenodd%3B%20%20%20%20%20%20%7D%20%20%20%20%3C%2Fstyle%3E%20%20%3C%2Fdefs%3E%20%20%3Cpath%20id%3D%22PHONE%22%20class%3D%22cls-1%22%20d%3D%22M874.252%2C159.787l-2.283%2C2.254c-13.7%2C13.521-9.133%2C36.056%2C9.134%2C54.085s41.1%2C22.533%2C54.8%2C9.013a3.423%2C3.423%2C0%2C0%2C0-1.142-3.38%2C3.531%2C3.531%2C0%2C0%2C0-3.425-1.127c-11.418%2C11.268-29.684%2C6.761-45.667-9.014s-20.55-33.8-9.134-45.07l1.142-1.127c2.854-2.817%2C4-2.816%2C6.85%2C0l4.567%2C4.507c2.853%2C2.816%2C2.854%2C3.943%2C0%2C6.76l-1.142%2C1.127a12.629%2C12.629%2C0%2C0%2C0%2C0%2C18.027l13.7%2C13.521a13.035%2C13.035%2C0%2C0%2C0%2C18.266%2C0l1.143-1.126c2.853-2.817%2C4-2.817%2C6.85%2C0l11.416%2C11.267a3.53%2C3.53%2C0%2C0%2C0%2C3.426-1.126A3.422%2C3.422%2C0%2C0%2C0%2C943.894%2C215l-12.558-12.393c-5.138-5.072-8.563-5.071-13.7%2C0l-2.283%2C2.252a6.517%2C6.517%2C0%2C0%2C1-9.133%2C0l-13.7-13.52a6.315%2C6.315%2C0%2C0%2C1%2C0-9.014l2.284-2.254c5.136-5.07%2C5.136-8.451%2C0-13.521l-6.851-6.761C882.815%2C154.717%2C879.389%2C154.717%2C874.252%2C159.787Z%22%20transform%3D%22translate%28-864%20-156%29%22%2F%3E%3C%2Fsvg%3E"); }
    .help-container .help-box .icon-map {
      background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2249.97%22%20height%3D%2280%22%20viewBox%3D%220%200%2049.97%2080%22%3E%20%20%3Cdefs%3E%20%20%20%20%3Cstyle%3E%20%20%20%20%20%20.cls-1%20%7B%20%20%20%20%20%20%20%20fill%3A%20%233BB700%3B%20%20%20%20%20%20%20%20fill-rule%3A%20evenodd%3B%20%20%20%20%20%20%7D%20%20%20%20%3C%2Fstyle%3E%20%20%3C%2Fdefs%3E%20%20%3Cpath%20id%3D%22MAP%22%20class%3D%22cls-1%22%20d%3D%22M1205.01%2C156.137c-7.63%2C0-13.19%2C6.079-13.19%2C13.577s5.56%2C13.577%2C13.19%2C13.577A13.582%2C13.582%2C0%2C0%2C0%2C1205.01%2C156.137Zm0%2C22.152a8.579%2C8.579%2C0%2C0%2C1%2C0-17.15A8.578%2C8.578%2C0%2C0%2C1%2C1205.01%2C178.289Zm-23.51.2c0.01%2C0.007.01%2C0.006%2C0.01%2C0-0.01-.024-0.04-0.115-0.08-0.25C1181.45%2C178.325%2C1181.48%2C178.408%2C1181.5%2C178.491Zm4.08-3.316a21.419%2C21.419%2C0%2C0%2C1-.68-6.527%2C20.593%2C20.593%2C0%2C0%2C1%2C15.08-19%2C20.593%2C20.593%2C0%2C0%2C0-15.08%2C19%2C21.419%2C21.419%2C0%2C0%2C0%2C.68%2C6.527l11.2%2C30.327h0Zm13.19%2C35.669h0v0h0v0Zm4.25%2C7.693a4.582%2C4.582%2C0%2C0%2C1-2.24-2.385h0A4.582%2C4.582%2C0%2C0%2C0%2C1203.02%2C218.537Zm-21.59-40.3c0.04%2C0.135.07%2C0.226%2C0.08%2C0.25A2.243%2C2.243%2C0%2C0%2C1%2C1181.43%2C178.242Zm0.07%2C0.249c-0.02-.083-0.05-0.166-0.07-0.249C1181.12%2C177.262%2C1180.08%2C174.012%2C1181.5%2C178.491Zm47.38-16.445a24.806%2C24.806%2C0%2C0%2C0-47.74%2C0%2C26.809%2C26.809%2C0%2C0%2C0%2C.29%2C16.2%2C2.243%2C2.243%2C0%2C0%2C0%2C.08.25c0%2C0.007%2C0%2C.008-0.01%2C0%2C0.09%2C0.229.17%2C0.458%2C0.26%2C0.685l10.61%2C28.09a2.72%2C2.72%2C0%2C0%2C0%2C4.41-1.764l-11.2-30.327a21.419%2C21.419%2C0%2C0%2C1-.68-6.527%2C20.593%2C20.593%2C0%2C0%2C1%2C15.08-19%2C17.82%2C17.82%2C0%2C0%2C1%2C5.03-.652%2C19.727%2C19.727%2C0%2C0%2C1%2C5.04.652%2C20.6%2C20.6%2C0%2C0%2C1%2C15.07%2C19%2C21.419%2C21.419%2C0%2C0%2C1-.68%2C6.527l-12.27%2C33.218q-1.455%2C3.883-2.92%2C7.762a4.612%2C4.612%2C0%2C0%2C1-4.23%2C2.854H1205a4.453%2C4.453%2C0%2C0%2C1-1.98-.457%2C4.669%2C4.669%2C0%2C0%2C1-2.24-2.382s-0.01-.007-0.01-0.011q-1.005-2.652-2-5.316a2.752%2C2.752%2C0%2C0%2C0-2.77-.4%2C2.471%2C2.471%2C0%2C0%2C0-1.61%2C2.155l2.01%2C5.327%2C0.02%2C0.051a0.014%2C0.014%2C0%2C0%2C1%2C.01.014%2C9.25%2C9.25%2C0%2C0%2C0%2C8.57%2C6.02h0.02a9.237%2C9.237%2C0%2C0%2C0%2C8.56-6.02%2C0.151%2C0.151%2C0%2C0%2C0%2C.02-0.017l14.66-38.8c0.08-.227.17-0.456%2C0.25-0.684-0.01.035%2C0.02-.069%2C0.08-0.249A26.886%2C26.886%2C0%2C0%2C0%2C1228.88%2C162.046Zm-28.11%2C54.1s0.01%2C0%2C.01%2C0h0s-0.01%2C0-.01%2C0q-1.005-2.654-2-5.312v0Q1199.76%2C213.5%2C1200.77%2C216.15Z%22%20transform%3D%22translate%28-1180.03%20-144%29%22%2F%3E%3C%2Fsvg%3E"); }
  .help-container .help-box:before {
    content: '';
    float: left;
    padding-top: 100%; }

.double-carousel-container {
  padding: 10px; }
  .double-carousel-container .text {
    padding: 10px; }
  .double-carousel-container .carousel-indicators {
    margin-bottom: -55px; }

/* Carousel Styles */
.carousel-indicators .active {
  background-color: #00b5d5;
  margin-left: 10px;
  margin-right: 10px;
  border-color: #00b5d5; }

.carousel-indicators li {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ececec;
  border-color: #ececec; }

.carousel-inner img {
  width: 100%;
  max-height: 460px; }

/* Carousel Header Styles */
.header-text {
  position: absolute;
  top: 20%;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
  color: #fff;
  font-size: 40px; }
