.header {
  color: #fff; }
  .header a {
    color: #fff;
    cursor: pointer;
    padding-right: 20px; }
  .header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 44px;
    position: relative; }
  .header li {
    display: inline-block;
    *display: inline;
    /* this fix is needed for IE7- */
    cursor: pointer;
    margin-left: 20px;
    padding-bottom: 8px; }
  .header li a {
    display: block;
    text-align: center;
    text-decoration: none; }
  .header li:hover {
    color: grey; }
  .header .active {
    border-bottom: 8px solid #00b5d5; }

.header-top {
  background-color: #000;
  padding-top: 10px;
  padding-bottom: 10px; }

.header-menu {
  background-color: #25262a;
  height: 85px;
  font-size: large; }
  .header-menu img {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -4px; }
    @media (max-width: 900px) {
      .header-menu img {
        height: 250px; } }

.header-submenu {
  background-color: #fff;
  color: #000;
  height: 85px;
  font-size: large; }

.header-mobile {
  background-color: #000; }
  .header-mobile .logo {
    height: 250px;
    padding-left: 20px; }
  .header-mobile .hamburger {
    height: 100px;
    top: 50%;
    margin-top: -26px;
    position: absolute;
    right: 0px;
    padding-right: 20px; }
