extends ../layout

block content
	.row
		.col-md-offset-2.col-md-8.content
			include blocks/carousel
			include blocks/threeBlocks.jade
			include blocks/twoBlocks.jade
			//- include blocks/doubleCarousel
			br
			br
			br
			include blocks/faq
			include blocks/help
