extends ../layout

block content
	.row
		.col-md-offset-2.col-md-8.content
			include blocks/carousel
			include blocks/threeBlocks.jade
			include blocks/textImageLeft.jade
			include blocks/twoBlocks.jade
			include blocks/textImageRight.jade
			include blocks/threeBlocksImage.jade
			include blocks/threeThumbnail.jade
			include blocks/doubleCarousel
			br
			br
			br
			include blocks/faq
			include blocks/help
