@import "hamburger";
@import "../variables";

.header {
	color: $textColor2;

	a {
		color: $textColor2;
		cursor: pointer;
		padding-right: 20px;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		top: 44px;
		position: relative;
	}
	li {
		display: inline-block;
		*display: inline;    /* this fix is needed for IE7- */
		cursor: pointer;
		margin-left: 20px;
		padding-bottom: 8px;
	}
	li a {
		display: block;
		text-align: center;
		text-decoration: none;
	}
	li:hover {
		color: grey;
	}
	.active {
		border-bottom: 8px solid $detailsColor;
	}
}
.header-top {
	background-color: $backgroundColorTop;
	padding-top: 10px;
	padding-bottom: 10px;
}
.header-menu {
	background-color: $backgroundColorMenu;
	height: 85px;
	font-size: large;

	img {
		position: absolute;
		left: 0;
		right: 0;
		margin-top: -4px;

		@media (max-width:900px) {
			height: 250px;
		}
	}
}
.header-submenu {
	background-color: $backgroundColorSubMenu;
	color: #000;
	height: 85px;
	font-size: large;
}
.header-mobile {
	background-color: $backgroundColorTop;

	.logo {
		padding-left: 20px;
	}
}
.menu-container {
	background-color: $backgoundColor;
	color: $textColor2;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: x-large;
	line-height: 75px;

	ul {
		list-style-type: none;
	}
	a {
		color: $textColor2 !important;
	}
	.mobileSubmenu {
		margin-left: -55px;
		background-color: $mobileSubmenuColor;
	}
}