.row
  #carousel.carousel.slide(data-ride='carousel')
    //- Indicators
    ol.carousel-indicators.hidden-xs
      li.active(data-target='#carousel', data-slide-to='0')
      li(data-target='#carousel', data-slide-to='1')
      li(data-target='#carousel', data-slide-to='2')
    //- Wrapper for slides
    .carousel-inner
     .item.active
        img(src='http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg', alt='A bench on a dock')
        //- Static Header
        .header-text
          .col-md-6.text-center
            span Be the first to get Ireland's fastest broadband
        .col-md-12.text-left.div-call-to-action
          a.btn.btn-call-to-action(href='#') Learn more
     .item
        img(src='http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg', alt='A bench on a dock')
        //- Static Header
        .header-text
          .col-md-6.text-center
            span Be the first to get Ireland's fastest broadband
        .col-md-12.text-left.div-call-to-action
          a.btn.btn-call-to-action(href='#') More info
     .item
        img(src='http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg', alt='A bench on a dock')
        //- Static Header
        .header-text
          .col-md-6.text-center
            span Be the first to get Ireland's fastest broadband
        .col-md-12.text-left.div-call-to-action
          a.btn.btn-call-to-action(href='#') Try it!