.row.double-carousel-container
  #carousel-example-generic.carousel.slide(data-ride='carousel')
    //- Indicators
    ol.carousel-indicators.hidden-xs
      li.active(data-target='#carousel-example-generic', data-slide-to='0')
      li(data-target='#carousel-example-generic', data-slide-to='1')
    //- Wrapper for slides
    .carousel-inner
      .item.active
        .row
          .col-md-6.text-center
            img.icon.img-circle(src="/assets/images/black.png")
            p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget lectus sed leo imperdiet imperdiet vitae sit amet tortor. Nam tristique posuere nisl, a condimentum orci commodo eu. 
            p Sara Smith
            p Dublin
          .col-md-6.text-center
            img.icon.img-circle(src="/assets/images/black.png")
            p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget lectus sed leo imperdiet imperdiet vitae sit amet tortor. Nam tristique posuere nisl, a condimentum orci commodo eu. 
            p Sara Smith
            p Dublin
      .item
        .row
          .col-md-6.text-center
            img.icon.img-circle(src="/assets/images/black.png")
            p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget lectus sed leo imperdiet imperdiet vitae sit amet tortor. Nam tristique posuere nisl, a condimentum orci commodo eu. 
            p Sara Smith
            p Dublin
          .col-md-6.text-center
            img.icon.img-circle(src="/assets/images/black.png")
            p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget lectus sed leo imperdiet imperdiet vitae sit amet tortor. Nam tristique posuere nisl, a condimentum orci commodo eu. 
            p Sara Smith
            p Dublin