.row
	.col-md-12.faq-container
		.text-center
			p.section-title BroadBand FAQs
			pane
				pane-title 
					| Prova
				pane-body COntentuto di prova
			pane
				pane-title 
					| Prova2
				pane-body COntentuto di prova2