.row
	.col-md-12.custom-container.faq-container
		.text-left
			p.text-center.section-title BroadBand FAQs
			pane.pane
				pane-title
					| If I switch from Sky, what happens to my dish?
				pane-body Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet eleifend eros. Nullam accumsan, quam sollicitudin egestas euismod, risus massa malesuada massa, at porttitor dolor ipsum at nibh. Vestibulum blandit volutpat arcu id euismod. Sed a tortor elementum, dapibus quam sed, dictum nisl. Donec sed ipsum nec felis suscipit gravida eu ut lectus. Morbi nibh leo, tincidunt sagittis fringilla sed, egestas quis mi. Quisque eget maximus tortor. Nullam in mi ante. Aenean nec ullamcorper erat. Cras bibendum id velit id cursus. Donec eu pulvinar mi. Morbi non turpis leo. Mauris interdum, libero vel dictum maximus, nibh diam porta diam, eu pellentesque metus mauris et ex. Suspendisse elementum turpis sed diam dignissim pretium. Mauris a ipsum et massa molestie malesuada.
			pane.pane
				pane-title
					| If I switch from Sky, what happens to my dish?
				pane-body Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet eleifend eros. Nullam accumsan, quam sollicitudin egestas euismod, risus massa malesuada massa, at porttitor dolor ipsum at nibh. Vestibulum blandit volutpat arcu id euismod. Sed a tortor elementum, dapibus quam sed, dictum nisl. Donec sed ipsum nec felis suscipit gravida eu ut lectus. Morbi nibh leo, tincidunt sagittis fringilla sed, egestas quis mi. Quisque eget maximus tortor. Nullam in mi ante. Aenean nec ullamcorper erat. Cras bibendum id velit id cursus. Donec eu pulvinar mi. Morbi non turpis leo. Mauris interdum, libero vel dictum maximus, nibh diam porta diam, eu pellentesque metus mauris et ex. Suspendisse elementum turpis sed diam dignissim pretium. Mauris a ipsum et massa molestie malesuada.
			pane.pane
				pane-title
					| If I switch from Sky, what happens to my dish?
				pane-body Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet eleifend eros. Nullam accumsan, quam sollicitudin egestas euismod, risus massa malesuada massa, at porttitor dolor ipsum at nibh. Vestibulum blandit volutpat arcu id euismod. Sed a tortor elementum, dapibus quam sed, dictum nisl. Donec sed ipsum nec felis suscipit gravida eu ut lectus. Morbi nibh leo, tincidunt sagittis fringilla sed, egestas quis mi. Quisque eget maximus tortor. Nullam in mi ante. Aenean nec ullamcorper erat. Cras bibendum id velit id cursus. Donec eu pulvinar mi. Morbi non turpis leo. Mauris interdum, libero vel dictum maximus, nibh diam porta diam, eu pellentesque metus mauris et ex. Suspendisse elementum turpis sed diam dignissim pretium. Mauris a ipsum et massa molestie malesuada.

			.row.border
				p.col-md-12.text-center.call-to-action
					a View our Broadband FAQ section