.row
	.col-md-12.help-container
		.row
			.col-md-12.col-sm-12.col-xs-12
			.text-center.section-title
				p Need some help?
		.row.flex-row
			.col-lg-3.col-md-3.col-sm-6.col-xs-6.text-center.flex-col
				.help-box
					.icon.icon-question
					p.title Help and support
					p.text Have a question? find and answer in our help and support section
			.col-lg-3.col-md-3.col-sm-6.col-xs-6.text-center.flex-col
				.help-box
					.icon.icon-message
					p.title Chat to an agent now
					p.text Have a question? find and answer in our help and support section
			.col-lg-3.col-md-3.col-sm-6.col-xs-6.text-center.flex-col
				.help-box
					.icon.icon-phone
					p.title Contact us
					p.text Have a question? find and answer in our help and support section
			.col-lg-3.col-md-3.col-sm-6.col-xs-6.text-center.flex-col
				.help-box
					.icon.icon-map
					p.title FInd your nearest store
					p.text Have a question? find and answer in our help and support section