.row
	.col-md-12.custom-container.text-image-container
		.row.flex-row
			.col-md-6.col-sm-12.col-flex.text-block
				.left-block.inner-box
					p.title Get 6 months free eVision TV
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget lectus sed leo imperdiet imperdiet vitae sit amet tortor.
					.div-call-to-action
						a.btn.btn-call-to-action(href='#') Upgrade now
			.col-md-6.col-sm-12.col-flex.hidden-xs.hidden-sm
				.right-block
					img(src="/assets/images/rugby-ref.png" alt="")
			