.row
	.col-md-12.custom-container.three-blocks-container-image
		.row.flex-row
			.col-md-4.col-sm-12.col-xs-12.flex-col
				.inner-box
					img(src="assets/images/block1.png" alt="")
					p.title Unlimited superfast fiber boradband
					p
						a.call-to-action Learn more about swiching
			.col-md-4.col-sm-12.col-xs-12.flex-col
				.inner-box
					img(src="assets/images/block2.png" alt="")
					p.title Unlimited superfast fiber boradband
					p
						a.call-to-action Learn more about swiching
			.col-md-4.col-sm-12.col-xs-12.flex-col
				.inner-box
					img(src="assets/images/block3.png" alt="")
					p.title Unlimited superfast fiber boradband
					p
						a.call-to-action Learn more about swiching