.row
	.col-md-12.col-sm-12.col-xs-12.custom-container.three-blocks-container
		.text-center
			p.section-title New customer get unlimited eFiber for just €30 a month
			p.section-subtitle Our best deals are always online
			.row.flex-row
				.col-md-4.col-sm-12.col-xs-12.flex-col
					.inner-box.left-block
						.icon.icon-router
						p.title.mobile-text Unlimited superfast fiber boradband
				.col-md-4.col-sm-12.col-xs-12.flex-col
					.inner-box.central-block
						.icon.icon-router
						p.title.mobile-text Unlimited fixed voice with UK or mobile minutes
				.col-md-4.col-sm-12.col-xs-12.flex-col
					.inner-box.special-block.right-block
						p.title €30/m
						p.text-left sfbsdhbjdshf sdfbdsjh sjdhbsdkhs sdhbjds k
						a.call-to-action More details
						.col-md-12.text-left.div-call-to-action
							a.btn.btn-call-to-action(href='#') Try it!
			.row
				p.col-md-12.text-center.call-to-action
					a View all Broadband Bundles