.row
	.col-md-12.custom-container.three-blocks-thumbnail-container
		.text-center
			p.section-title Why join eir?
		.col-md-4.col-sm-12
			.row.text-center
				.col-md-3.col-sm-12
					.icon.icon-clock
				.col-md-9.col-sm-12
					p With over 60 years experience, we are Ireland's most trusted broadband and phone provider.
		.col-md-4.col-sm-12
			.row.text-center
				.col-md-3.col-sm-12
					.icon.icon-clock
				.col-md-9.col-sm-12
					p We are constantly improving our network to ensure a reliable and quality service for our customers.
		.col-md-4.col-sm-12
			.row.text-center
				.col-md-3.col-sm-12
					.icon.icon-clock
				.col-md-9.col-sm-12
					p The first in Irekand ti iffer broadband, Tv, mobile and home phone providers.