.row
	.col-md-12.custom-container.two-blocks-container
		.row.flex-row
			.col-md-6.col-sm-12.flex-col
				.inner-box.left-block
					.title Lightning fast, 1000MB speeds
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu lobortis elit. Fusce sagittis lectus non velit consequat condimentum. In efficitur ex ac mi sagittis, at condimentum massa porttitor.
					.row.div-call-to-action
						.col-md-6.text-left
							a.call-to-action Find out more
						.col-md-6.text-right
							i.fa.fa-clock-o.fa-5x(aria-hidden="true")
			.col-md-6.col-sm-12.flex-col
				.inner-box.right-block
					.title Check out our coverage map
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu lobortis elit. Fusce sagittis lectus non velit consequat condimentum. In efficitur ex ac mi sagittis, at condimentum massa porttitor.
					.row.div-call-to-action
						.col-md-6.text-left
							a.call-to-action Check coverage
						.col-md-6.text-right
							i.fa.fa-map-marker.fa-5x(aria-hidden="true")